@import 'vendors/font-awesome.scss';
@import 'vendors/icofont.scss';
@import "vendors/themify/_themify-icons.scss";
@import "vendors/flag-icon.scss";
@import "vendors/feather-icon/feather-icon";
@import "vendors/whether-icon.scss";
@import 'vendors/scrollbar.scss';
@import 'vendors/animate.scss';
@import 'vendors/prism.scss';
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import "style";
@import "responsive";
@import "color-1.scss";
@import "vendors/dropzone.scss";
@import "./vendors/image-cropper.scss";
// @import "vendors/owlcarousel.scss";
// @import "vendors/icofont.scss";
@import "vendors/chartist.scss";