node_modules
npm-debug.log
yarn-error.log
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.git
.gitignore
README.md
docker-compose.yml
Dockerfile
.dockerignore
docker
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php
vendor